In [6]:
import pandas as pd
import pymysql
import sklearn
from sklearn.cluster import KMeans
print("packages imported")

packages imported

In [7]:
# Set the values to display all the counts in one output cell
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = "{:,.2f}".format

In [8]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='Csoares#12',
                         db='dm_etl1')

In [9]:
connection

In [10]:
cursor=connection.cursor()

In [11]:

cursor.execute(""" select a.*, sum(b.TotalPrice), count(b.SalesID) from custdetails a, salesdetails b
               where a.customerID = b.CustomerID
               group by a.CustomerID """)

230

In [12]:
import mysql.connector
mydb = mysql.connector.connect(host='localhost', database='dm_etl1', user='root', password='Csoares#12')
df = pd.read_sql('select a.*, sum(b.TotalPrice), count(b.SalesID) from custdetails a, salesdetails b where a.customerID = b.CustomerID group by a.CustomerID', con=mydb)

In [13]:
df

     CustomerID CustFirstName CustMiddleInitial CustLastName  sum(b.TotalPrice)  count(b.SalesID)
0          4182      Clarence                 L         Zeng       1,201,269.29               110
1             1         Aaron              None    Alexander          27,355.20              1521
2         13482         Mario                 H          Rai               0.00               131
3         17664       Shelley                 N         Dyck      95,474,374.19               133
4          4700        Dakota                 A      Russell       2,200,051.32               106
5         12964     Mackenzie                 M      Ramirez       3,043,948.85               122
6          8782         James              None        Kumar      36,214,058.16               101
7          3241         Carla                 J     Gonzalez       1,240,969.62                16
8          7482         Glenn                 A         Zeng       1,224,556.87                59
9          2302         Blake              None         Long         644,317.16                59
10         8784         James              None     Mitchell      21,513,301.88                60
11        16266       Richard                 J     Martinez               0.00                60
12        11086          Kate              None       Becker       1,472,073.62                59
13        18568        Thomas              None           Li      41,635,441.38                58
14         3261        Carlos              None       Howard      14,830,215.38              1358
15         4588      Cristina              None           Xu               0.00              1846
16        12065          Kyle                 T        Young      46,008,538.32              1844
17         7849        Harold                 D       Subram   1,313,669,960.62              1830
18        15543       Patrick                 L      Sanders      28,227,073.59              1360
19         8804         James                 C        Evans     490,144,727.72              1367
20         7956         Henry                 M       Prasad      37,461,770.55               483
21         3023         Caleb              None           Li       6,743,352.00               123
22        18182       Tabitha                 A     Gonzalez      32,191,060.06               118
23        15300        Olivia                 D      Bennett               0.00               131
24        14000       Melanie                 N    Alexander      12,430,404.00               107
25         1687       Arianna              None   Richardson       6,621,804.00                57
26         3989     Christian                 J       Hughes      15,822,724.44                58
27        10471          José                 G        Lopez       3,289,440.00                60
28          372       Alberto              None        Ramos     503,053,514.88              1844
29         5915         Eddie              None        Gomez     100,327,920.00              1830
30        16870          Ryan                 C        Davis     157,761,576.00              1358
31        18700       Timothy                 L      Sanders       2,742,803.81               110
32         7723        Hailey                 R       Rivera      31,323,840.00               120
33         3541     Cassandra                 D        Madan       8,328,659.33               106
34         9169           Jay              None      Carlson       1,421,271.06                57
35        15651         Peter                 E        Black       4,635,763.21                59
36        17953        Steven              None       Watson      14,617,792.00                56
37        12654         Louis              None           Hu      33,711,552.27              1352
38        18197       Tabitha                 M    Rodriguez     106,072,548.05              1350
39         1699       Arianna              None         Bell     476,905,464.00              1827
40        12423          Levi              None       Prasad       3,261,418.16               130
41         8241      Isabella              None     Mitchell     122,849,634.38               130
42        17023        Samuel                 L     Robinson     131,268,672.25               118
43         3374      Caroline              None       Butler      55,754,834.06                59
44         5676        Donald                 D     Martinez       1,455,094.26                58
45        12158         Larry                 S        Gomez      64,521,889.75                58
46        13981       Melanie                 B      Russell   1,733,124,841.88              1834
47        17242          Sean              None        Green      45,860,556.95              1828
48         3026         Caleb              None    Patterson   2,064,700,472.00              1856
49         1964        Austin              None          Jai     108,911,625.00               120
50        17541         Shaun                 N     Andersen       3,132,752.34               120
51        12941     Mackenzie                 A        Adams      22,757,602.36               117
52        10856       Kaitlyn              None       Harris      11,476,055.89                59
53        17338          Seth              None      Bennett       1,566,376.17                60
54        19640        Xavier                 M        Smith      53,548,215.62                59
55         9765         Jésus                 K        Munoz     357,508,317.41              1838
56        15308        Olivia                 K          Cox      47,957,217.13              1837
57        18569        Thomas              None     Martinez   1,677,239,025.00              1848
58        11264      Kathleen                 A        Rubio      14,148,511.38               129
59         2482       Brandon              None       Harris       1,972,655.86               120
60         6664         Ethan                 M       Sharma       4,665,327.99               121
61         5061          Dave              None     Richards         969,889.13                59
62         7363        Gerald              None     Martinez       2,313,385.78                60
63        13845         Mayra                 S      Sanchez       6,361,346.20                58
64        11092          Kate              None         Raje      30,280,267.44              1842
65        14353        Miguel              None     Gonzalez      71,406,507.78              1852
66          137       Abigail              None       Flores     202,905,008.20              1850
67         7182     Gabrielle              None        Price      45,068,066.88               130
68         3000       Caitlin                 A       Howard       1,595,628.00               127
69        15964         Randy              None        Zhang       9,232,860.00               120
70        11782        Krista              None         Gill               0.00               119
71        12543          Lisa                 S         Chen      20,453,968.81                59
72        19025        Tyrone                 B         Ruiz               0.00                59
73         1568       Annette              None         Hill       4,539,489.50                59
74        10241      Jonathan                 J    Hernandez         741,276.00                59
75         6876      Fernando                 J      Jenkins     640,313,227.06              1847
76        12419          Levi              None     Gonzalez               0.00              1851
77        15680        Philip                 M    Gutierrez     141,262,758.00              1836
78         3615     Catherine                 L       Murphy      23,092,632.00              1838
79        12300        Lauren                 W       Cooper       2,708,755.30               124
80        16482         Robin              None       Ortega       4,940,208.00               117
81         7700        Hailey                 J      Coleman       5,933,065.32               121
82          905       Allison              None        Allen       7,322,835.00                13
83        17723       Spencer              None      Bennett       2,843,948.66                58
84         4446        Connor              None      Edwards       1,223,308.84                56
85         6748        Evelyn              None        Perez       2,448,992.00                58
86         8203        Isabel              None         Long      78,114,400.00              1850
87        19158      Victoria              None       Powell      90,172,786.09              1839
88         4942      Danielle                 J      Sanders      40,259,967.84              1843
89        11464         Keith                 R          Pal     273,198,075.00               485
90         6023       Eduardo                 G       Butler      49,351,128.00               134
91         1423      Angelica              None    Alexander      12,456,611.58               121
92        17000        Samuel                 B     Johnston       4,106,724.00               123
93        11928    Kristopher              None     Martinez       1,836,340.00                55
94        14230  Michael John                 R       Troyer       6,073,884.98                59
95          953         Alvin              None         Zhao      21,729,228.00                59
96         3987     Christian                 J       Garcia     189,319,906.55              1839
97         9530      Jermaine                 A       Kapoor     672,132,900.00              1825
98          726        Alexis              None         Hall      61,534,084.00              1843
99         1941        Austin              None        Zhang         257,509.55               132
100       10723         Julie              None          Jai      35,438,480.00               121
101        6541          Erik                 S    Gutierrez      45,247,262.25               118
102       19410       Whitney                 C      Sanchez         115,098.97                59
103        6133         Edwin              None           Li      22,623,631.12                59
104        8435          Jack                 L        Hayes      17,279,920.00                59
105       16269       Richard                 L       Cooper       3,583,674.63              1837
106        2053       Barbara              None          Lin     707,851,238.25              1846
107        5314        Dennis                 G           Wu     536,849,040.00              1833
108       11241     Katherine                 R         Cook       1,293,444.00               122
109         264      Adrienne              None      Jiménez      30,938,759.00                17
110       15423         Pablo              None  Rovira Diez       3,274,743.47                13
111       13615        Martin                 P        Patel         798,823.42                58
112       17596        Sheena              None       Chande      19,560,690.00              1845
113        1098        Amanda              None      Bennett     121,417,411.69               482
114        6641         Ethan                 A          Lal     884,484,522.00               486
115        4964         Danny                 J      Vazquez      37,205,717.59               127
116         782        Alicia              None      Chapman      17,467,874.53               130
117       15941       Randall                 A         Ruiz       3,266,114.42               122
118        1338         Angel              None     Phillips       1,499,200.06                56
119        7820        Hannah                 G      Jenkins       8,062,095.94                60
120       10122        Johnny                 G        Kumar      17,284,545.97                59
121       13380         María              None       Flores      49,072,030.62              1833
122       18923        Trisha              None          Sun     246,565,767.42              1835
123        2425          Brad                 M         Goel     541,094,176.34              1847
124        1300        Andrew              None         Hill         101,930.40               121
125        5482         Devin              None       Nelson       4,940,460.00               120
126        9664       Jessica              None    Rodriguez         272,947.64                14
127       14264       Michele              None         Raji       3,029,702.81                13
128       15302        Olivia                 E       Howard       2,429,059.50                59
129       13000       Madison              None       Foster          48,859.20                58
130       14707         Nancy              None     Buchanan      76,412,448.00              1856
131       11446         Keith              None          Lal       1,562,652.05              1855
132        3752       Charles                 E      Sanders     113,730,382.50               488
133       17968        Steven                 L     Peterson       9,494,678.51               487
134       15723       Preston              None        Perez     107,454,375.00               105
135        6000       Eduardo              None       Walker       1,133,856.00               124
136       18964          Troy              None      Chandra      19,048,848.00                16
137       14782       Natalie              None         Reed       1,407,456.00                18
138       10182      Jonathan              None       Butler       3,488,875.41                13
139         723        Alexis              None       Wilson         521,208.00                57
140       18917         Trish                 E     Pederson      59,355,750.00                58
141       11339       Katrina                 M       Sharma   1,390,766,625.00              1359
142        7230       Garrett              None       Murphy      16,824,960.00              1840
143       16034       Raymond                 W        Madan      38,392,272.00               491
144       10491        Joseph                 J      Cantoni     129,893,515.12               484
145       19295        Warren              None         Zhao     579,799,311.00               487
146       19482        Willie                 R          Gao               0.00               133
147         664    Alexandria              None     Peterson      87,796,704.00               102
148       10700        Julian              None      Jenkins       1,135,740.82               124
149        8205        Isabel              None       Powell         512,915.21                56
150       14687           Mya              None      Coleman               0.00                56
151       16989        Samuel              None       Sharma               0.00                59
152        6640         Ethan                 A        Clark      50,784,368.00                59
153       11818       Kristen                 R           Li               0.00              1840
154        7123     Gabriella              None       Rivera   1,173,204,976.00              1363
155        3014         Caleb              None     Campbell      16,788,813.96              1833
156        8557         Jacob              None     Martinez               0.00              1843
157        9964           Joe              None    Gutierrez       4,997,314.56               104
158         241       Adriana              None        Vance      20,405,440.00               121
159        4423       Colleen                 L         Nara         751,914.82                13
160        9023        Jarrod              None         Rana       8,086,992.88                13
161        2410          Brad              None         Nath       9,781,120.00                58
162         845        Alison              None          Lal       2,835,014.99                59
163        4341          Cole                 W         Cook     308,948,480.00              1832
164        8450          Jack                 S      Richins      65,589,753.63              1365
165        7602         Grant                 A     Andersen      27,473,810.74               475
166       13145          Marc              None       Romero     296,730,430.88               477
167       10482        Joseph              None        White       5,669,440.00               112
168       14664        Morgan                 M         Hill       2,482,056.66               106
169       19264        Walter              None      Jimenez     175,567,678.12               105
170        9541      Jermaine                 J        Perez       4,746,555.94                15
171       13723         Mason                 M         Cook      17,764,915.00                17
172        4941      Danielle                 J       Cooper       4,044,378.00                12
173        6025       Eduardo                 J        Brown       3,037,200.00                60
174        8327      Isabelle                 K    Henderson       1,334,690.85                57
175       14809       Natalie                 E     Williams      95,308,168.12                57
176        4234       Clayton              None         Zeng      31,821,839.68              1359
177        9777          Jill              None        Gomez   2,265,659,084.38              1355
178         973         Alvin              None        Zheng      68,893,820.00              1361
179        5668        Donald              None        Raman     154,421,286.50               488
180        8929          Jane                 P        Greer     505,777,580.00               484
181         125       Abigail              None         Wood     163,797,309.00               486
182       14241       Micheal              None      Vazquez      26,695,970.81               132
183       15182          Noah              None       Bryant       4,061,803.36               102
184        4097       Christy                 A     Andersen      12,134,532.19                60
185       13507       Marissa              None        Price       2,309,652.89                58
186        1452           Ann              None     Gonzalez     371,518,927.14              1837
187       16516        Rodney              None         Sanz      54,436,129.34              1367
188        4723          Dale                 C         Holt      38,256,384.00               109
189       18941       Tristan              None       Butler         271,623.70                13
190        3782       Charles                 W       Watson         140,668.71                13
191        7712        Hailey                 M        Lopez      21,058,560.00                60
192       17843     Stephanie              None    Alexander     473,466,624.00              1349
193       16995        Samuel              None        Young      10,154,547.60               486
194        2779       Bridget                 E       Chande       5,248,024.91               485
195        9423         Jenny                 S        Liang      22,703,976.00               108
196        5241           Deb              None       Waldal      35,764,400.00               106
197       14023       Melinda                 T      Jimenez      25,212,591.09               102
198        8482       Jackson                 A       Foster      13,063,603.00                16
199        4300          Cody              None         Reed          53,216.80                17
200       12892          Luke                 J      Simmons      19,906,600.00                59
201       15194          Noah              None        Jones      11,982,654.00                57
202        1917        Audrey              None         Diaz      14,583,753.67                59

In [14]:
df.rename(columns = {'sum(b.TotalPrice)':'Sum_TotalPrice'}, inplace = True)
df.rename(columns = {'count(b.SalesID)':'Count_TotalSales'}, inplace = True)

In [15]:
df

     CustomerID CustFirstName CustMiddleInitial CustLastName   Sum_TotalPrice  Count_TotalSales
0          4182      Clarence                 L         Zeng     1,201,269.29               110
1             1         Aaron              None    Alexander        27,355.20              1521
2         13482         Mario                 H          Rai             0.00               131
3         17664       Shelley                 N         Dyck    95,474,374.19               133
4          4700        Dakota                 A      Russell     2,200,051.32               106
5         12964     Mackenzie                 M      Ramirez     3,043,948.85               122
6          8782         James              None        Kumar    36,214,058.16               101
7          3241         Carla                 J     Gonzalez     1,240,969.62                16
8          7482         Glenn                 A         Zeng     1,224,556.87                59
9          2302         Blake              None         Long       644,317.16                59
10         8784         James              None     Mitchell    21,513,301.88                60
11        16266       Richard                 J     Martinez             0.00                60
12        11086          Kate              None       Becker     1,472,073.62                59
13        18568        Thomas              None           Li    41,635,441.38                58
14         3261        Carlos              None       Howard    14,830,215.38              1358
15         4588      Cristina              None           Xu             0.00              1846
16        12065          Kyle                 T        Young    46,008,538.32              1844
17         7849        Harold                 D       Subram 1,313,669,960.62              1830
18        15543       Patrick                 L      Sanders    28,227,073.59              1360
19         8804         James                 C        Evans   490,144,727.72              1367
20         7956         Henry                 M       Prasad    37,461,770.55               483
21         3023         Caleb              None           Li     6,743,352.00               123
22        18182       Tabitha                 A     Gonzalez    32,191,060.06               118
23        15300        Olivia                 D      Bennett             0.00               131
24        14000       Melanie                 N    Alexander    12,430,404.00               107
25         1687       Arianna              None   Richardson     6,621,804.00                57
26         3989     Christian                 J       Hughes    15,822,724.44                58
27        10471          José                 G        Lopez     3,289,440.00                60
28          372       Alberto              None        Ramos   503,053,514.88              1844
29         5915         Eddie              None        Gomez   100,327,920.00              1830
30        16870          Ryan                 C        Davis   157,761,576.00              1358
31        18700       Timothy                 L      Sanders     2,742,803.81               110
32         7723        Hailey                 R       Rivera    31,323,840.00               120
33         3541     Cassandra                 D        Madan     8,328,659.33               106
34         9169           Jay              None      Carlson     1,421,271.06                57
35        15651         Peter                 E        Black     4,635,763.21                59
36        17953        Steven              None       Watson    14,617,792.00                56
37        12654         Louis              None           Hu    33,711,552.27              1352
38        18197       Tabitha                 M    Rodriguez   106,072,548.05              1350
39         1699       Arianna              None         Bell   476,905,464.00              1827
40        12423          Levi              None       Prasad     3,261,418.16               130
41         8241      Isabella              None     Mitchell   122,849,634.38               130
42        17023        Samuel                 L     Robinson   131,268,672.25               118
43         3374      Caroline              None       Butler    55,754,834.06                59
44         5676        Donald                 D     Martinez     1,455,094.26                58
45        12158         Larry                 S        Gomez    64,521,889.75                58
46        13981       Melanie                 B      Russell 1,733,124,841.88              1834
47        17242          Sean              None        Green    45,860,556.95              1828
48         3026         Caleb              None    Patterson 2,064,700,472.00              1856
49         1964        Austin              None          Jai   108,911,625.00               120
50        17541         Shaun                 N     Andersen     3,132,752.34               120
51        12941     Mackenzie                 A        Adams    22,757,602.36               117
52        10856       Kaitlyn              None       Harris    11,476,055.89                59
53        17338          Seth              None      Bennett     1,566,376.17                60
54        19640        Xavier                 M        Smith    53,548,215.62                59
55         9765         Jésus                 K        Munoz   357,508,317.41              1838
56        15308        Olivia                 K          Cox    47,957,217.13              1837
57        18569        Thomas              None     Martinez 1,677,239,025.00              1848
58        11264      Kathleen                 A        Rubio    14,148,511.38               129
59         2482       Brandon              None       Harris     1,972,655.86               120
60         6664         Ethan                 M       Sharma     4,665,327.99               121
61         5061          Dave              None     Richards       969,889.13                59
62         7363        Gerald              None     Martinez     2,313,385.78                60
63        13845         Mayra                 S      Sanchez     6,361,346.20                58
64        11092          Kate              None         Raje    30,280,267.44              1842
65        14353        Miguel              None     Gonzalez    71,406,507.78              1852
66          137       Abigail              None       Flores   202,905,008.20              1850
67         7182     Gabrielle              None        Price    45,068,066.88               130
68         3000       Caitlin                 A       Howard     1,595,628.00               127
69        15964         Randy              None        Zhang     9,232,860.00               120
70        11782        Krista              None         Gill             0.00               119
71        12543          Lisa                 S         Chen    20,453,968.81                59
72        19025        Tyrone                 B         Ruiz             0.00                59
73         1568       Annette              None         Hill     4,539,489.50                59
74        10241      Jonathan                 J    Hernandez       741,276.00                59
75         6876      Fernando                 J      Jenkins   640,313,227.06              1847
76        12419          Levi              None     Gonzalez             0.00              1851
77        15680        Philip                 M    Gutierrez   141,262,758.00              1836
78         3615     Catherine                 L       Murphy    23,092,632.00              1838
79        12300        Lauren                 W       Cooper     2,708,755.30               124
80        16482         Robin              None       Ortega     4,940,208.00               117
81         7700        Hailey                 J      Coleman     5,933,065.32               121
82          905       Allison              None        Allen     7,322,835.00                13
83        17723       Spencer              None      Bennett     2,843,948.66                58
84         4446        Connor              None      Edwards     1,223,308.84                56
85         6748        Evelyn              None        Perez     2,448,992.00                58
86         8203        Isabel              None         Long    78,114,400.00              1850
87        19158      Victoria              None       Powell    90,172,786.09              1839
88         4942      Danielle                 J      Sanders    40,259,967.84              1843
89        11464         Keith                 R          Pal   273,198,075.00               485
90         6023       Eduardo                 G       Butler    49,351,128.00               134
91         1423      Angelica              None    Alexander    12,456,611.58               121
92        17000        Samuel                 B     Johnston     4,106,724.00               123
93        11928    Kristopher              None     Martinez     1,836,340.00                55
94        14230  Michael John                 R       Troyer     6,073,884.98                59
95          953         Alvin              None         Zhao    21,729,228.00                59
96         3987     Christian                 J       Garcia   189,319,906.55              1839
97         9530      Jermaine                 A       Kapoor   672,132,900.00              1825
98          726        Alexis              None         Hall    61,534,084.00              1843
99         1941        Austin              None        Zhang       257,509.55               132
100       10723         Julie              None          Jai    35,438,480.00               121
101        6541          Erik                 S    Gutierrez    45,247,262.25               118
102       19410       Whitney                 C      Sanchez       115,098.97                59
103        6133         Edwin              None           Li    22,623,631.12                59
104        8435          Jack                 L        Hayes    17,279,920.00                59
105       16269       Richard                 L       Cooper     3,583,674.63              1837
106        2053       Barbara              None          Lin   707,851,238.25              1846
107        5314        Dennis                 G           Wu   536,849,040.00              1833
108       11241     Katherine                 R         Cook     1,293,444.00               122
109         264      Adrienne              None      Jiménez    30,938,759.00                17
110       15423         Pablo              None  Rovira Diez     3,274,743.47                13
111       13615        Martin                 P        Patel       798,823.42                58
112       17596        Sheena              None       Chande    19,560,690.00              1845
113        1098        Amanda              None      Bennett   121,417,411.69               482
114        6641         Ethan                 A          Lal   884,484,522.00               486
115        4964         Danny                 J      Vazquez    37,205,717.59               127
116         782        Alicia              None      Chapman    17,467,874.53               130
117       15941       Randall                 A         Ruiz     3,266,114.42               122
118        1338         Angel              None     Phillips     1,499,200.06                56
119        7820        Hannah                 G      Jenkins     8,062,095.94                60
120       10122        Johnny                 G        Kumar    17,284,545.97                59
121       13380         María              None       Flores    49,072,030.62              1833
122       18923        Trisha              None          Sun   246,565,767.42              1835
123        2425          Brad                 M         Goel   541,094,176.34              1847
124        1300        Andrew              None         Hill       101,930.40               121
125        5482         Devin              None       Nelson     4,940,460.00               120
126        9664       Jessica              None    Rodriguez       272,947.64                14
127       14264       Michele              None         Raji     3,029,702.81                13
128       15302        Olivia                 E       Howard     2,429,059.50                59
129       13000       Madison              None       Foster        48,859.20                58
130       14707         Nancy              None     Buchanan    76,412,448.00              1856
131       11446         Keith              None          Lal     1,562,652.05              1855
132        3752       Charles                 E      Sanders   113,730,382.50               488
133       17968        Steven                 L     Peterson     9,494,678.51               487
134       15723       Preston              None        Perez   107,454,375.00               105
135        6000       Eduardo              None       Walker     1,133,856.00               124
136       18964          Troy              None      Chandra    19,048,848.00                16
137       14782       Natalie              None         Reed     1,407,456.00                18
138       10182      Jonathan              None       Butler     3,488,875.41                13
139         723        Alexis              None       Wilson       521,208.00                57
140       18917         Trish                 E     Pederson    59,355,750.00                58
141       11339       Katrina                 M       Sharma 1,390,766,625.00              1359
142        7230       Garrett              None       Murphy    16,824,960.00              1840
143       16034       Raymond                 W        Madan    38,392,272.00               491
144       10491        Joseph                 J      Cantoni   129,893,515.12               484
145       19295        Warren              None         Zhao   579,799,311.00               487
146       19482        Willie                 R          Gao             0.00               133
147         664    Alexandria              None     Peterson    87,796,704.00               102
148       10700        Julian              None      Jenkins     1,135,740.82               124
149        8205        Isabel              None       Powell       512,915.21                56
150       14687           Mya              None      Coleman             0.00                56
151       16989        Samuel              None       Sharma             0.00                59
152        6640         Ethan                 A        Clark    50,784,368.00                59
153       11818       Kristen                 R           Li             0.00              1840
154        7123     Gabriella              None       Rivera 1,173,204,976.00              1363
155        3014         Caleb              None     Campbell    16,788,813.96              1833
156        8557         Jacob              None     Martinez             0.00              1843
157        9964           Joe              None    Gutierrez     4,997,314.56               104
158         241       Adriana              None        Vance    20,405,440.00               121
159        4423       Colleen                 L         Nara       751,914.82                13
160        9023        Jarrod              None         Rana     8,086,992.88                13
161        2410          Brad              None         Nath     9,781,120.00                58
162         845        Alison              None          Lal     2,835,014.99                59
163        4341          Cole                 W         Cook   308,948,480.00              1832
164        8450          Jack                 S      Richins    65,589,753.63              1365
165        7602         Grant                 A     Andersen    27,473,810.74               475
166       13145          Marc              None       Romero   296,730,430.88               477
167       10482        Joseph              None        White     5,669,440.00               112
168       14664        Morgan                 M         Hill     2,482,056.66               106
169       19264        Walter              None      Jimenez   175,567,678.12               105
170        9541      Jermaine                 J        Perez     4,746,555.94                15
171       13723         Mason                 M         Cook    17,764,915.00                17
172        4941      Danielle                 J       Cooper     4,044,378.00                12
173        6025       Eduardo                 J        Brown     3,037,200.00                60
174        8327      Isabelle                 K    Henderson     1,334,690.85                57
175       14809       Natalie                 E     Williams    95,308,168.12                57
176        4234       Clayton              None         Zeng    31,821,839.68              1359
177        9777          Jill              None        Gomez 2,265,659,084.38              1355
178         973         Alvin              None        Zheng    68,893,820.00              1361
179        5668        Donald              None        Raman   154,421,286.50               488
180        8929          Jane                 P        Greer   505,777,580.00               484
181         125       Abigail              None         Wood   163,797,309.00               486
182       14241       Micheal              None      Vazquez    26,695,970.81               132
183       15182          Noah              None       Bryant     4,061,803.36               102
184        4097       Christy                 A     Andersen    12,134,532.19                60
185       13507       Marissa              None        Price     2,309,652.89                58
186        1452           Ann              None     Gonzalez   371,518,927.14              1837
187       16516        Rodney              None         Sanz    54,436,129.34              1367
188        4723          Dale                 C         Holt    38,256,384.00               109
189       18941       Tristan              None       Butler       271,623.70                13
190        3782       Charles                 W       Watson       140,668.71                13
191        7712        Hailey                 M        Lopez    21,058,560.00                60
192       17843     Stephanie              None    Alexander   473,466,624.00              1349
193       16995        Samuel              None        Young    10,154,547.60               486
194        2779       Bridget                 E       Chande     5,248,024.91               485
195        9423         Jenny                 S        Liang    22,703,976.00               108
196        5241           Deb              None       Waldal    35,764,400.00               106
197       14023       Melinda                 T      Jimenez    25,212,591.09               102
198        8482       Jackson                 A       Foster    13,063,603.00                16
199        4300          Cody              None         Reed        53,216.80                17
200       12892          Luke                 J      Simmons    19,906,600.00                59
201       15194          Noah              None        Jones    11,982,654.00                57
202        1917        Audrey              None         Diaz    14,583,753.67                59
203       10366        Jordyn                 S      Coleman   459,538,800.00              1362
204       13627        Marvin                 C        Gomez   283,799,700.00              1350
205       19170      Victoria              None     Williams   337,156,610.31              1364
206       18322         Tasha              None         Yuan   396,806,941.12               486

In [16]:
df['Sum_TotalPrice'] = df['Sum_TotalPrice'].astype('int64')

In [17]:
df

     CustomerID CustFirstName CustMiddleInitial CustLastName  Sum_TotalPrice  Count_TotalSales
0          4182      Clarence                 L         Zeng         1201269               110
1             1         Aaron              None    Alexander           27355              1521
2         13482         Mario                 H          Rai               0               131
3         17664       Shelley                 N         Dyck        95474374               133
4          4700        Dakota                 A      Russell         2200051               106
5         12964     Mackenzie                 M      Ramirez         3043948               122
6          8782         James              None        Kumar        36214058               101
7          3241         Carla                 J     Gonzalez         1240969                16
8          7482         Glenn                 A         Zeng         1224556                59
9          2302         Blake              None         Long          644317                59
10         8784         James              None     Mitchell        21513301                60
11        16266       Richard                 J     Martinez               0                60
12        11086          Kate              None       Becker         1472073                59
13        18568        Thomas              None           Li        41635441                58
14         3261        Carlos              None       Howard        14830215              1358
15         4588      Cristina              None           Xu               0              1846
16        12065          Kyle                 T        Young        46008538              1844
17         7849        Harold                 D       Subram      1313669960              1830
18        15543       Patrick                 L      Sanders        28227073              1360
19         8804         James                 C        Evans       490144727              1367
20         7956         Henry                 M       Prasad        37461770               483
21         3023         Caleb              None           Li         6743352               123
22        18182       Tabitha                 A     Gonzalez        32191060               118
23        15300        Olivia                 D      Bennett               0               131
24        14000       Melanie                 N    Alexander        12430404               107
25         1687       Arianna              None   Richardson         6621804                57
26         3989     Christian                 J       Hughes        15822724                58
27        10471          José                 G        Lopez         3289440                60
28          372       Alberto              None        Ramos       503053514              1844
29         5915         Eddie              None        Gomez       100327920              1830
30        16870          Ryan                 C        Davis       157761576              1358
31        18700       Timothy                 L      Sanders         2742803               110
32         7723        Hailey                 R       Rivera        31323840               120
33         3541     Cassandra                 D        Madan         8328659               106
34         9169           Jay              None      Carlson         1421271                57
35        15651         Peter                 E        Black         4635763                59
36        17953        Steven              None       Watson        14617792                56
37        12654         Louis              None           Hu        33711552              1352
38        18197       Tabitha                 M    Rodriguez       106072548              1350
39         1699       Arianna              None         Bell       476905464              1827
40        12423          Levi              None       Prasad         3261418               130
41         8241      Isabella              None     Mitchell       122849634               130
42        17023        Samuel                 L     Robinson       131268672               118
43         3374      Caroline              None       Butler        55754834                59
44         5676        Donald                 D     Martinez         1455094                58
45        12158         Larry                 S        Gomez        64521889                58
46        13981       Melanie                 B      Russell      1733124841              1834
47        17242          Sean              None        Green        45860556              1828
48         3026         Caleb              None    Patterson      2064700472              1856
49         1964        Austin              None          Jai       108911625               120
50        17541         Shaun                 N     Andersen         3132752               120
51        12941     Mackenzie                 A        Adams        22757602               117
52        10856       Kaitlyn              None       Harris        11476055                59
53        17338          Seth              None      Bennett         1566376                60
54        19640        Xavier                 M        Smith        53548215                59
55         9765         Jésus                 K        Munoz       357508317              1838
56        15308        Olivia                 K          Cox        47957217              1837
57        18569        Thomas              None     Martinez      1677239025              1848
58        11264      Kathleen                 A        Rubio        14148511               129
59         2482       Brandon              None       Harris         1972655               120
60         6664         Ethan                 M       Sharma         4665327               121
61         5061          Dave              None     Richards          969889                59
62         7363        Gerald              None     Martinez         2313385                60
63        13845         Mayra                 S      Sanchez         6361346                58
64        11092          Kate              None         Raje        30280267              1842
65        14353        Miguel              None     Gonzalez        71406507              1852
66          137       Abigail              None       Flores       202905008              1850
67         7182     Gabrielle              None        Price        45068066               130
68         3000       Caitlin                 A       Howard         1595628               127
69        15964         Randy              None        Zhang         9232860               120
70        11782        Krista              None         Gill               0               119
71        12543          Lisa                 S         Chen        20453968                59
72        19025        Tyrone                 B         Ruiz               0                59
73         1568       Annette              None         Hill         4539489                59
74        10241      Jonathan                 J    Hernandez          741276                59
75         6876      Fernando                 J      Jenkins       640313227              1847
76        12419          Levi              None     Gonzalez               0              1851
77        15680        Philip                 M    Gutierrez       141262758              1836
78         3615     Catherine                 L       Murphy        23092632              1838
79        12300        Lauren                 W       Cooper         2708755               124
80        16482         Robin              None       Ortega         4940208               117
81         7700        Hailey                 J      Coleman         5933065               121
82          905       Allison              None        Allen         7322835                13
83        17723       Spencer              None      Bennett         2843948                58
84         4446        Connor              None      Edwards         1223308                56
85         6748        Evelyn              None        Perez         2448992                58
86         8203        Isabel              None         Long        78114400              1850
87        19158      Victoria              None       Powell        90172786              1839
88         4942      Danielle                 J      Sanders        40259967              1843
89        11464         Keith                 R          Pal       273198075               485
90         6023       Eduardo                 G       Butler        49351128               134
91         1423      Angelica              None    Alexander        12456611               121
92        17000        Samuel                 B     Johnston         4106724               123
93        11928    Kristopher              None     Martinez         1836340                55
94        14230  Michael John                 R       Troyer         6073884                59
95          953         Alvin              None         Zhao        21729228                59
96         3987     Christian                 J       Garcia       189319906              1839
97         9530      Jermaine                 A       Kapoor       672132900              1825
98          726        Alexis              None         Hall        61534084              1843
99         1941        Austin              None        Zhang          257509               132
100       10723         Julie              None          Jai        35438480               121
101        6541          Erik                 S    Gutierrez        45247262               118
102       19410       Whitney                 C      Sanchez          115098                59
103        6133         Edwin              None           Li        22623631                59
104        8435          Jack                 L        Hayes        17279920                59
105       16269       Richard                 L       Cooper         3583674              1837
106        2053       Barbara              None          Lin       707851238              1846
107        5314        Dennis                 G           Wu       536849040              1833
108       11241     Katherine                 R         Cook         1293444               122
109         264      Adrienne              None      Jiménez        30938759                17
110       15423         Pablo              None  Rovira Diez         3274743                13
111       13615        Martin                 P        Patel          798823                58
112       17596        Sheena              None       Chande        19560690              1845
113        1098        Amanda              None      Bennett       121417411               482
114        6641         Ethan                 A          Lal       884484522               486
115        4964         Danny                 J      Vazquez        37205717               127
116         782        Alicia              None      Chapman        17467874               130
117       15941       Randall                 A         Ruiz         3266114               122
118        1338         Angel              None     Phillips         1499200                56
119        7820        Hannah                 G      Jenkins         8062095                60
120       10122        Johnny                 G        Kumar        17284545                59
121       13380         María              None       Flores        49072030              1833
122       18923        Trisha              None          Sun       246565767              1835
123        2425          Brad                 M         Goel       541094176              1847
124        1300        Andrew              None         Hill          101930               121
125        5482         Devin              None       Nelson         4940460               120
126        9664       Jessica              None    Rodriguez          272947                14
127       14264       Michele              None         Raji         3029702                13
128       15302        Olivia                 E       Howard         2429059                59
129       13000       Madison              None       Foster           48859                58
130       14707         Nancy              None     Buchanan        76412448              1856
131       11446         Keith              None          Lal         1562652              1855
132        3752       Charles                 E      Sanders       113730382               488
133       17968        Steven                 L     Peterson         9494678               487
134       15723       Preston              None        Perez       107454375               105
135        6000       Eduardo              None       Walker         1133856               124
136       18964          Troy              None      Chandra        19048848                16
137       14782       Natalie              None         Reed         1407456                18
138       10182      Jonathan              None       Butler         3488875                13
139         723        Alexis              None       Wilson          521208                57
140       18917         Trish                 E     Pederson        59355750                58
141       11339       Katrina                 M       Sharma      1390766625              1359
142        7230       Garrett              None       Murphy        16824960              1840
143       16034       Raymond                 W        Madan        38392272               491
144       10491        Joseph                 J      Cantoni       129893515               484
145       19295        Warren              None         Zhao       579799311               487
146       19482        Willie                 R          Gao               0               133
147         664    Alexandria              None     Peterson        87796704               102
148       10700        Julian              None      Jenkins         1135740               124
149        8205        Isabel              None       Powell          512915                56
150       14687           Mya              None      Coleman               0                56
151       16989        Samuel              None       Sharma               0                59
152        6640         Ethan                 A        Clark        50784368                59
153       11818       Kristen                 R           Li               0              1840
154        7123     Gabriella              None       Rivera      1173204976              1363
155        3014         Caleb              None     Campbell        16788813              1833
156        8557         Jacob              None     Martinez               0              1843
157        9964           Joe              None    Gutierrez         4997314               104
158         241       Adriana              None        Vance        20405440               121
159        4423       Colleen                 L         Nara          751914                13
160        9023        Jarrod              None         Rana         8086992                13
161        2410          Brad              None         Nath         9781120                58
162         845        Alison              None          Lal         2835014                59
163        4341          Cole                 W         Cook       308948480              1832
164        8450          Jack                 S      Richins        65589753              1365
165        7602         Grant                 A     Andersen        27473810               475
166       13145          Marc              None       Romero       296730430               477
167       10482        Joseph              None        White         5669440               112
168       14664        Morgan                 M         Hill         2482056               106
169       19264        Walter              None      Jimenez       175567678               105
170        9541      Jermaine                 J        Perez         4746555                15
171       13723         Mason                 M         Cook        17764915                17
172        4941      Danielle                 J       Cooper         4044378                12
173        6025       Eduardo                 J        Brown         3037200                60
174        8327      Isabelle                 K    Henderson         1334690                57
175       14809       Natalie                 E     Williams        95308168                57
176        4234       Clayton              None         Zeng        31821839              1359
177        9777          Jill              None        Gomez      2265659084              1355
178         973         Alvin              None        Zheng        68893820              1361
179        5668        Donald              None        Raman       154421286               488
180        8929          Jane                 P        Greer       505777580               484
181         125       Abigail              None         Wood       163797309               486
182       14241       Micheal              None      Vazquez        26695970               132
183       15182          Noah              None       Bryant         4061803               102
184        4097       Christy                 A     Andersen        12134532                60
185       13507       Marissa              None        Price         2309652                58
186        1452           Ann              None     Gonzalez       371518927              1837
187       16516        Rodney              None         Sanz        54436129              1367
188        4723          Dale                 C         Holt        38256384               109
189       18941       Tristan              None       Butler          271623                13
190        3782       Charles                 W       Watson          140668                13
191        7712        Hailey                 M        Lopez        21058560                60
192       17843     Stephanie              None    Alexander       473466624              1349
193       16995        Samuel              None        Young        10154547               486
194        2779       Bridget                 E       Chande         5248024               485
195        9423         Jenny                 S        Liang        22703976               108
196        5241           Deb              None       Waldal        35764400               106
197       14023       Melinda                 T      Jimenez        25212591               102
198        8482       Jackson                 A       Foster        13063603                16
199        4300          Cody              None         Reed           53216                17
200       12892          Luke                 J      Simmons        19906600                59
201       15194          Noah              None        Jones        11982654                57
202        1917        Audrey              None         Diaz        14583753                59
203       10366        Jordyn                 S      Coleman       459538800              1362
204       13627        Marvin                 C        Gomez       283799700              1350
205       19170      Victoria              None     Williams       337156610              1364
206       18322         Tasha              None         Yuan       396806941               486
207       15061       Nicolas              None         Raje         1533896               490
208       18723          Tina                 J        Lopez       331499031               125

In [18]:
indexNames = df[df['Sum_TotalPrice'] == 0 ].index

In [19]:
df.drop(indexNames , inplace=True)

In [20]:
max_TotalPrice = df['Sum_TotalPrice'].max()

In [21]:
max_TotalPrice

4895577693

In [22]:
min_TotalPrice = df['Sum_TotalPrice'].min()

In [23]:
min_TotalPrice

27355

In [24]:
df

     CustomerID CustFirstName CustMiddleInitial CustLastName  Sum_TotalPrice  Count_TotalSales
0          4182      Clarence                 L         Zeng         1201269               110
1             1         Aaron              None    Alexander           27355              1521
3         17664       Shelley                 N         Dyck        95474374               133
4          4700        Dakota                 A      Russell         2200051               106
5         12964     Mackenzie                 M      Ramirez         3043948               122
6          8782         James              None        Kumar        36214058               101
7          3241         Carla                 J     Gonzalez         1240969                16
8          7482         Glenn                 A         Zeng         1224556                59
9          2302         Blake              None         Long          644317                59
10         8784         James              None     Mitchell        21513301                60
12        11086          Kate              None       Becker         1472073                59
13        18568        Thomas              None           Li        41635441                58
14         3261        Carlos              None       Howard        14830215              1358
16        12065          Kyle                 T        Young        46008538              1844
17         7849        Harold                 D       Subram      1313669960              1830
18        15543       Patrick                 L      Sanders        28227073              1360
19         8804         James                 C        Evans       490144727              1367
20         7956         Henry                 M       Prasad        37461770               483
21         3023         Caleb              None           Li         6743352               123
22        18182       Tabitha                 A     Gonzalez        32191060               118
24        14000       Melanie                 N    Alexander        12430404               107
25         1687       Arianna              None   Richardson         6621804                57
26         3989     Christian                 J       Hughes        15822724                58
27        10471          José                 G        Lopez         3289440                60
28          372       Alberto              None        Ramos       503053514              1844
29         5915         Eddie              None        Gomez       100327920              1830
30        16870          Ryan                 C        Davis       157761576              1358
31        18700       Timothy                 L      Sanders         2742803               110
32         7723        Hailey                 R       Rivera        31323840               120
33         3541     Cassandra                 D        Madan         8328659               106
34         9169           Jay              None      Carlson         1421271                57
35        15651         Peter                 E        Black         4635763                59
36        17953        Steven              None       Watson        14617792                56
37        12654         Louis              None           Hu        33711552              1352
38        18197       Tabitha                 M    Rodriguez       106072548              1350
39         1699       Arianna              None         Bell       476905464              1827
40        12423          Levi              None       Prasad         3261418               130
41         8241      Isabella              None     Mitchell       122849634               130
42        17023        Samuel                 L     Robinson       131268672               118
43         3374      Caroline              None       Butler        55754834                59
44         5676        Donald                 D     Martinez         1455094                58
45        12158         Larry                 S        Gomez        64521889                58
46        13981       Melanie                 B      Russell      1733124841              1834
47        17242          Sean              None        Green        45860556              1828
48         3026         Caleb              None    Patterson      2064700472              1856
49         1964        Austin              None          Jai       108911625               120
50        17541         Shaun                 N     Andersen         3132752               120
51        12941     Mackenzie                 A        Adams        22757602               117
52        10856       Kaitlyn              None       Harris        11476055                59
53        17338          Seth              None      Bennett         1566376                60
54        19640        Xavier                 M        Smith        53548215                59
55         9765         Jésus                 K        Munoz       357508317              1838
56        15308        Olivia                 K          Cox        47957217              1837
57        18569        Thomas              None     Martinez      1677239025              1848
58        11264      Kathleen                 A        Rubio        14148511               129
59         2482       Brandon              None       Harris         1972655               120
60         6664         Ethan                 M       Sharma         4665327               121
61         5061          Dave              None     Richards          969889                59
62         7363        Gerald              None     Martinez         2313385                60
63        13845         Mayra                 S      Sanchez         6361346                58
64        11092          Kate              None         Raje        30280267              1842
65        14353        Miguel              None     Gonzalez        71406507              1852
66          137       Abigail              None       Flores       202905008              1850
67         7182     Gabrielle              None        Price        45068066               130
68         3000       Caitlin                 A       Howard         1595628               127
69        15964         Randy              None        Zhang         9232860               120
71        12543          Lisa                 S         Chen        20453968                59
73         1568       Annette              None         Hill         4539489                59
74        10241      Jonathan                 J    Hernandez          741276                59
75         6876      Fernando                 J      Jenkins       640313227              1847
77        15680        Philip                 M    Gutierrez       141262758              1836
78         3615     Catherine                 L       Murphy        23092632              1838
79        12300        Lauren                 W       Cooper         2708755               124
80        16482         Robin              None       Ortega         4940208               117
81         7700        Hailey                 J      Coleman         5933065               121
82          905       Allison              None        Allen         7322835                13
83        17723       Spencer              None      Bennett         2843948                58
84         4446        Connor              None      Edwards         1223308                56
85         6748        Evelyn              None        Perez         2448992                58
86         8203        Isabel              None         Long        78114400              1850
87        19158      Victoria              None       Powell        90172786              1839
88         4942      Danielle                 J      Sanders        40259967              1843
89        11464         Keith                 R          Pal       273198075               485
90         6023       Eduardo                 G       Butler        49351128               134
91         1423      Angelica              None    Alexander        12456611               121
92        17000        Samuel                 B     Johnston         4106724               123
93        11928    Kristopher              None     Martinez         1836340                55
94        14230  Michael John                 R       Troyer         6073884                59
95          953         Alvin              None         Zhao        21729228                59
96         3987     Christian                 J       Garcia       189319906              1839
97         9530      Jermaine                 A       Kapoor       672132900              1825
98          726        Alexis              None         Hall        61534084              1843
99         1941        Austin              None        Zhang          257509               132
100       10723         Julie              None          Jai        35438480               121
101        6541          Erik                 S    Gutierrez        45247262               118
102       19410       Whitney                 C      Sanchez          115098                59
103        6133         Edwin              None           Li        22623631                59
104        8435          Jack                 L        Hayes        17279920                59
105       16269       Richard                 L       Cooper         3583674              1837
106        2053       Barbara              None          Lin       707851238              1846
107        5314        Dennis                 G           Wu       536849040              1833
108       11241     Katherine                 R         Cook         1293444               122
109         264      Adrienne              None      Jiménez        30938759                17
110       15423         Pablo              None  Rovira Diez         3274743                13
111       13615        Martin                 P        Patel          798823                58
112       17596        Sheena              None       Chande        19560690              1845
113        1098        Amanda              None      Bennett       121417411               482
114        6641         Ethan                 A          Lal       884484522               486
115        4964         Danny                 J      Vazquez        37205717               127
116         782        Alicia              None      Chapman        17467874               130
117       15941       Randall                 A         Ruiz         3266114               122
118        1338         Angel              None     Phillips         1499200                56
119        7820        Hannah                 G      Jenkins         8062095                60
120       10122        Johnny                 G        Kumar        17284545                59
121       13380         María              None       Flores        49072030              1833
122       18923        Trisha              None          Sun       246565767              1835
123        2425          Brad                 M         Goel       541094176              1847
124        1300        Andrew              None         Hill          101930               121
125        5482         Devin              None       Nelson         4940460               120
126        9664       Jessica              None    Rodriguez          272947                14
127       14264       Michele              None         Raji         3029702                13
128       15302        Olivia                 E       Howard         2429059                59
129       13000       Madison              None       Foster           48859                58
130       14707         Nancy              None     Buchanan        76412448              1856
131       11446         Keith              None          Lal         1562652              1855
132        3752       Charles                 E      Sanders       113730382               488
133       17968        Steven                 L     Peterson         9494678               487
134       15723       Preston              None        Perez       107454375               105
135        6000       Eduardo              None       Walker         1133856               124
136       18964          Troy              None      Chandra        19048848                16
137       14782       Natalie              None         Reed         1407456                18
138       10182      Jonathan              None       Butler         3488875                13
139         723        Alexis              None       Wilson          521208                57
140       18917         Trish                 E     Pederson        59355750                58
141       11339       Katrina                 M       Sharma      1390766625              1359
142        7230       Garrett              None       Murphy        16824960              1840
143       16034       Raymond                 W        Madan        38392272               491
144       10491        Joseph                 J      Cantoni       129893515               484
145       19295        Warren              None         Zhao       579799311               487
147         664    Alexandria              None     Peterson        87796704               102
148       10700        Julian              None      Jenkins         1135740               124
149        8205        Isabel              None       Powell          512915                56
152        6640         Ethan                 A        Clark        50784368                59
154        7123     Gabriella              None       Rivera      1173204976              1363
155        3014         Caleb              None     Campbell        16788813              1833
157        9964           Joe              None    Gutierrez         4997314               104
158         241       Adriana              None        Vance        20405440               121
159        4423       Colleen                 L         Nara          751914                13
160        9023        Jarrod              None         Rana         8086992                13
161        2410          Brad              None         Nath         9781120                58
162         845        Alison              None          Lal         2835014                59
163        4341          Cole                 W         Cook       308948480              1832
164        8450          Jack                 S      Richins        65589753              1365
165        7602         Grant                 A     Andersen        27473810               475
166       13145          Marc              None       Romero       296730430               477
167       10482        Joseph              None        White         5669440               112
168       14664        Morgan                 M         Hill         2482056               106
169       19264        Walter              None      Jimenez       175567678               105
170        9541      Jermaine                 J        Perez         4746555                15
171       13723         Mason                 M         Cook        17764915                17
172        4941      Danielle                 J       Cooper         4044378                12
173        6025       Eduardo                 J        Brown         3037200                60
174        8327      Isabelle                 K    Henderson         1334690                57
175       14809       Natalie                 E     Williams        95308168                57
176        4234       Clayton              None         Zeng        31821839              1359
177        9777          Jill              None        Gomez      2265659084              1355
178         973         Alvin              None        Zheng        68893820              1361
179        5668        Donald              None        Raman       154421286               488
180        8929          Jane                 P        Greer       505777580               484
181         125       Abigail              None         Wood       163797309               486
182       14241       Micheal              None      Vazquez        26695970               132
183       15182          Noah              None       Bryant         4061803               102
184        4097       Christy                 A     Andersen        12134532                60
185       13507       Marissa              None        Price         2309652                58
186        1452           Ann              None     Gonzalez       371518927              1837
187       16516        Rodney              None         Sanz        54436129              1367
188        4723          Dale                 C         Holt        38256384               109
189       18941       Tristan              None       Butler          271623                13
190        3782       Charles                 W       Watson          140668                13
191        7712        Hailey                 M        Lopez        21058560                60
192       17843     Stephanie              None    Alexander       473466624              1349
193       16995        Samuel              None        Young        10154547               486
194        2779       Bridget                 E       Chande         5248024               485
195        9423         Jenny                 S        Liang        22703976               108
196        5241           Deb              None       Waldal        35764400               106
197       14023       Melinda                 T      Jimenez        25212591               102
198        8482       Jackson                 A       Foster        13063603                16
199        4300          Cody              None         Reed           53216                17
200       12892          Luke                 J      Simmons        19906600                59
201       15194          Noah              None        Jones        11982654                57
202        1917        Audrey              None         Diaz        14583753                59
203       10366        Jordyn                 S      Coleman       459538800              1362
204       13627        Marvin                 C        Gomez       283799700              1350
205       19170      Victoria              None     Williams       337156610              1364
206       18322         Tasha              None         Yuan       396806941               486
207       15061       Nicolas              None         Raje         1533896               490
208       18723          Tina                 J        Lopez       331499031               125
210        9941          Jodi              None         Deng        76921550               106
212         615     Alexandra              None    Alexander        43540500                60
213        9399         Jenny              None    Zimmerman       156467542                59
214        6150         Edwin                 A         Deng       989820700              1364
215       14954     Nathaniel                 C       Howard      4895577693              1846
217        8264      Isabella                 A        Evans         6596824               119
218       19241      Virginia              None    Rodriguez        43067736               110
219        3664        Cedric                 W           Ma         8279184               117
220       13700         Mason              None       Wright          326279                13
221       18300          Tara              None          Xie          671976                12
222       14579       Monique              None       Torres        23099967                59
223       16881          Ryan                 J    Alexander         4104210                58

In [25]:
bins = [0, 99999, 99999999, 9999999999]
labels = ['LOW','MID','HIGH']
df['Customer_Category'] = pd.cut(df['Sum_TotalPrice'], bins=bins, 
                                       labels=labels, right=True, include_lowest=True)
df

     CustomerID CustFirstName CustMiddleInitial CustLastName  Sum_TotalPrice  Count_TotalSales Customer_Category
0          4182      Clarence                 L         Zeng         1201269               110               MID
1             1         Aaron              None    Alexander           27355              1521               LOW
3         17664       Shelley                 N         Dyck        95474374               133               MID
4          4700        Dakota                 A      Russell         2200051               106               MID
5         12964     Mackenzie                 M      Ramirez         3043948               122               MID
6          8782         James              None        Kumar        36214058               101               MID
7          3241         Carla                 J     Gonzalez         1240969                16               MID
8          7482         Glenn                 A         Zeng         1224556                59               MID
9          2302         Blake              None         Long          644317                59               MID
10         8784         James              None     Mitchell        21513301                60               MID
12        11086          Kate              None       Becker         1472073                59               MID
13        18568        Thomas              None           Li        41635441                58               MID
14         3261        Carlos              None       Howard        14830215              1358               MID
16        12065          Kyle                 T        Young        46008538              1844               MID
17         7849        Harold                 D       Subram      1313669960              1830              HIGH
18        15543       Patrick                 L      Sanders        28227073              1360               MID
19         8804         James                 C        Evans       490144727              1367              HIGH
20         7956         Henry                 M       Prasad        37461770               483               MID
21         3023         Caleb              None           Li         6743352               123               MID
22        18182       Tabitha                 A     Gonzalez        32191060               118               MID
24        14000       Melanie                 N    Alexander        12430404               107               MID
25         1687       Arianna              None   Richardson         6621804                57               MID
26         3989     Christian                 J       Hughes        15822724                58               MID
27        10471          José                 G        Lopez         3289440                60               MID
28          372       Alberto              None        Ramos       503053514              1844              HIGH
29         5915         Eddie              None        Gomez       100327920              1830              HIGH
30        16870          Ryan                 C        Davis       157761576              1358              HIGH
31        18700       Timothy                 L      Sanders         2742803               110               MID
32         7723        Hailey                 R       Rivera        31323840               120               MID
33         3541     Cassandra                 D        Madan         8328659               106               MID
34         9169           Jay              None      Carlson         1421271                57               MID
35        15651         Peter                 E        Black         4635763                59               MID
36        17953        Steven              None       Watson        14617792                56               MID
37        12654         Louis              None           Hu        33711552              1352               MID
38        18197       Tabitha                 M    Rodriguez       106072548              1350              HIGH
39         1699       Arianna              None         Bell       476905464              1827              HIGH
40        12423          Levi              None       Prasad         3261418               130               MID
41         8241      Isabella              None     Mitchell       122849634               130              HIGH
42        17023        Samuel                 L     Robinson       131268672               118              HIGH
43         3374      Caroline              None       Butler        55754834                59               MID
44         5676        Donald                 D     Martinez         1455094                58               MID
45        12158         Larry                 S        Gomez        64521889                58               MID
46        13981       Melanie                 B      Russell      1733124841              1834              HIGH
47        17242          Sean              None        Green        45860556              1828               MID
48         3026         Caleb              None    Patterson      2064700472              1856              HIGH
49         1964        Austin              None          Jai       108911625               120              HIGH
50        17541         Shaun                 N     Andersen         3132752               120               MID
51        12941     Mackenzie                 A        Adams        22757602               117               MID
52        10856       Kaitlyn              None       Harris        11476055                59               MID
53        17338          Seth              None      Bennett         1566376                60               MID
54        19640        Xavier                 M        Smith        53548215                59               MID
55         9765         Jésus                 K        Munoz       357508317              1838              HIGH
56        15308        Olivia                 K          Cox        47957217              1837               MID
57        18569        Thomas              None     Martinez      1677239025              1848              HIGH
58        11264      Kathleen                 A        Rubio        14148511               129               MID
59         2482       Brandon              None       Harris         1972655               120               MID
60         6664         Ethan                 M       Sharma         4665327               121               MID
61         5061          Dave              None     Richards          969889                59               MID
62         7363        Gerald              None     Martinez         2313385                60               MID
63        13845         Mayra                 S      Sanchez         6361346                58               MID
64        11092          Kate              None         Raje        30280267              1842               MID
65        14353        Miguel              None     Gonzalez        71406507              1852               MID
66          137       Abigail              None       Flores       202905008              1850              HIGH
67         7182     Gabrielle              None        Price        45068066               130               MID
68         3000       Caitlin                 A       Howard         1595628               127               MID
69        15964         Randy              None        Zhang         9232860               120               MID
71        12543          Lisa                 S         Chen        20453968                59               MID
73         1568       Annette              None         Hill         4539489                59               MID
74        10241      Jonathan                 J    Hernandez          741276                59               MID
75         6876      Fernando                 J      Jenkins       640313227              1847              HIGH
77        15680        Philip                 M    Gutierrez       141262758              1836              HIGH
78         3615     Catherine                 L       Murphy        23092632              1838               MID
79        12300        Lauren                 W       Cooper         2708755               124               MID
80        16482         Robin              None       Ortega         4940208               117               MID
81         7700        Hailey                 J      Coleman         5933065               121               MID
82          905       Allison              None        Allen         7322835                13               MID
83        17723       Spencer              None      Bennett         2843948                58               MID
84         4446        Connor              None      Edwards         1223308                56               MID
85         6748        Evelyn              None        Perez         2448992                58               MID
86         8203        Isabel              None         Long        78114400              1850               MID
87        19158      Victoria              None       Powell        90172786              1839               MID
88         4942      Danielle                 J      Sanders        40259967              1843               MID
89        11464         Keith                 R          Pal       273198075               485              HIGH
90         6023       Eduardo                 G       Butler        49351128               134               MID
91         1423      Angelica              None    Alexander        12456611               121               MID
92        17000        Samuel                 B     Johnston         4106724               123               MID
93        11928    Kristopher              None     Martinez         1836340                55               MID
94        14230  Michael John                 R       Troyer         6073884                59               MID
95          953         Alvin              None         Zhao        21729228                59               MID
96         3987     Christian                 J       Garcia       189319906              1839              HIGH
97         9530      Jermaine                 A       Kapoor       672132900              1825              HIGH
98          726        Alexis              None         Hall        61534084              1843               MID
99         1941        Austin              None        Zhang          257509               132               MID
100       10723         Julie              None          Jai        35438480               121               MID
101        6541          Erik                 S    Gutierrez        45247262               118               MID
102       19410       Whitney                 C      Sanchez          115098                59               MID
103        6133         Edwin              None           Li        22623631                59               MID
104        8435          Jack                 L        Hayes        17279920                59               MID
105       16269       Richard                 L       Cooper         3583674              1837               MID
106        2053       Barbara              None          Lin       707851238              1846              HIGH
107        5314        Dennis                 G           Wu       536849040              1833              HIGH
108       11241     Katherine                 R         Cook         1293444               122               MID
109         264      Adrienne              None      Jiménez        30938759                17               MID
110       15423         Pablo              None  Rovira Diez         3274743                13               MID
111       13615        Martin                 P        Patel          798823                58               MID
112       17596        Sheena              None       Chande        19560690              1845               MID
113        1098        Amanda              None      Bennett       121417411               482              HIGH
114        6641         Ethan                 A          Lal       884484522               486              HIGH
115        4964         Danny                 J      Vazquez        37205717               127               MID
116         782        Alicia              None      Chapman        17467874               130               MID
117       15941       Randall                 A         Ruiz         3266114               122               MID
118        1338         Angel              None     Phillips         1499200                56               MID
119        7820        Hannah                 G      Jenkins         8062095                60               MID
120       10122        Johnny                 G        Kumar        17284545                59               MID
121       13380         María              None       Flores        49072030              1833               MID
122       18923        Trisha              None          Sun       246565767              1835              HIGH
123        2425          Brad                 M         Goel       541094176              1847              HIGH
124        1300        Andrew              None         Hill          101930               121               MID
125        5482         Devin              None       Nelson         4940460               120               MID
126        9664       Jessica              None    Rodriguez          272947                14               MID
127       14264       Michele              None         Raji         3029702                13               MID
128       15302        Olivia                 E       Howard         2429059                59               MID
129       13000       Madison              None       Foster           48859                58               LOW
130       14707         Nancy              None     Buchanan        76412448              1856               MID
131       11446         Keith              None          Lal         1562652              1855               MID
132        3752       Charles                 E      Sanders       113730382               488              HIGH
133       17968        Steven                 L     Peterson         9494678               487               MID
134       15723       Preston              None        Perez       107454375               105              HIGH
135        6000       Eduardo              None       Walker         1133856               124               MID
136       18964          Troy              None      Chandra        19048848                16               MID
137       14782       Natalie              None         Reed         1407456                18               MID
138       10182      Jonathan              None       Butler         3488875                13               MID
139         723        Alexis              None       Wilson          521208                57               MID
140       18917         Trish                 E     Pederson        59355750                58               MID
141       11339       Katrina                 M       Sharma      1390766625              1359              HIGH
142        7230       Garrett              None       Murphy        16824960              1840               MID
143       16034       Raymond                 W        Madan        38392272               491               MID
144       10491        Joseph                 J      Cantoni       129893515               484              HIGH
145       19295        Warren              None         Zhao       579799311               487              HIGH
147         664    Alexandria              None     Peterson        87796704               102               MID
148       10700        Julian              None      Jenkins         1135740               124               MID
149        8205        Isabel              None       Powell          512915                56               MID
152        6640         Ethan                 A        Clark        50784368                59               MID
154        7123     Gabriella              None       Rivera      1173204976              1363              HIGH
155        3014         Caleb              None     Campbell        16788813              1833               MID
157        9964           Joe              None    Gutierrez         4997314               104               MID
158         241       Adriana              None        Vance        20405440               121               MID
159        4423       Colleen                 L         Nara          751914                13               MID
160        9023        Jarrod              None         Rana         8086992                13               MID
161        2410          Brad              None         Nath         9781120                58               MID
162         845        Alison              None          Lal         2835014                59               MID
163        4341          Cole                 W         Cook       308948480              1832              HIGH
164        8450          Jack                 S      Richins        65589753              1365               MID
165        7602         Grant                 A     Andersen        27473810               475               MID
166       13145          Marc              None       Romero       296730430               477              HIGH
167       10482        Joseph              None        White         5669440               112               MID
168       14664        Morgan                 M         Hill         2482056               106               MID
169       19264        Walter              None      Jimenez       175567678               105              HIGH
170        9541      Jermaine                 J        Perez         4746555                15               MID
171       13723         Mason                 M         Cook        17764915                17               MID
172        4941      Danielle                 J       Cooper         4044378                12               MID
173        6025       Eduardo                 J        Brown         3037200                60               MID
174        8327      Isabelle                 K    Henderson         1334690                57               MID
175       14809       Natalie                 E     Williams        95308168                57               MID
176        4234       Clayton              None         Zeng        31821839              1359               MID
177        9777          Jill              None        Gomez      2265659084              1355              HIGH
178         973         Alvin              None        Zheng        68893820              1361               MID
179        5668        Donald              None        Raman       154421286               488              HIGH
180        8929          Jane                 P        Greer       505777580               484              HIGH
181         125       Abigail              None         Wood       163797309               486              HIGH
182       14241       Micheal              None      Vazquez        26695970               132               MID
183       15182          Noah              None       Bryant         4061803               102               MID
184        4097       Christy                 A     Andersen        12134532                60               MID
185       13507       Marissa              None        Price         2309652                58               MID
186        1452           Ann              None     Gonzalez       371518927              1837              HIGH

In [26]:
#Slicing of data to devide it into target and feature set
X=df[['Sum_TotalPrice','Count_TotalSales']]
y=df[['Customer_Category']]

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.25, random_state = 18)

In [30]:
from sklearn.ensemble import RandomForestClassifier
model_tree = RandomForestClassifier(random_state=18, n_estimators=100)
model_tree.fit(X_train, y_train)

C:\Users\Dell\anaconda3\envs\DM_ETL\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(random_state=18)

In [27]:
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=18,
                       verbose=0, warm_start=False)

NameError: name 'RandomForestClassifier' is not defined

In [31]:
y_pred_rf = model_tree.predict(X_test)

In [32]:
model_tree.predict([[512222,101]])

array(['MID'], dtype=object)